@charset "utf-8";
/***
@Author:     webpoin
@Email:      1357113262@qq.com
***/

html{*border:none;;overflow-y:scroll; overflow-x:auto;height: 100%;width: 100%;position: relative;}
body{margin:0;font:normal 0.8em/1.5 "微软雅黑", Arial,Tahoma,Helvetica,sans-serif;color:#333;width: 100%;min-width:1000px;}
h1,h2,h3,h4,h5,h6,ol,ul,p,form,dl{margin-top:0;margin-bottom:0}
img{border:none;vertical-align:top;}
ol,ul,dd{padding-left:0;margin-left:0; }
ul{list-style-type:none;}
em,cite{font-style: normal;}
a{text-decoration:none;white-space:nowrap;color: inherit;}
header,nav,section,article,footer,cite{display:block;margin:0;}



h1 {font-size:xx-large;}
h2 {font-size:x-large;}
h3 {font-size:large;}
h4 {font-size:medium;}
h5 {font-size:small;}
h6 {font-size:x-small;}

/*公共定义*/
.fl{float:left;} .fr{float:right;}
.cs{zoom:1;} .cs:after{content:" ";display: block;visibility:hidden;height: 0;clear: both;}
.oh{overflow:hidden;} .oa{overflow:auto; }
.se{overflow:hidden;text-indent:-999em;*background:url(no.gif); }
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}.ti{text-indent:2em;}
.db{display:block;} .di{display:inline;} .dk{display:inline-block;*display:inline;*zoom:1;}
.did,.dil,.dia,.dd,.dl,.da{letter-spacing:-0.5em;*letter-spacing:normal;}
.dia{*word-spacing:-0.5em; }.dia>a{*word-spacing:normal;}
.did>div,.dil>li,.dia>a,.dd>div,.dl>li,.da>a{display:inline-block;*display:inline;letter-spacing:normal;vertical-align:top;}
.vt{vertical-align:top;}.vb{vertical-align:bottom; }.vm{vertical-align:middle; }
.pr{position:relative;}.pa{position:absolute;}
.clear{ clear: both;}

.center{width: 1000px;margin:auto;position: relative; }
.main{width: 1000px;margin:auto;position: relative; }




header{position: relative; height: 80px;z-index: 1; border-bottom: 5px solid #f29b11;overflow: hidden;text-align: right;}
.header_logo{display: inline-block;float: left; }
.header_logo img,.header_apps img{vertical-align: middle;}
.header_logo:before,.header_apps:before{content: '';display: inline-block;vertical-align: middle;width: 1px; height: 80px;}
.header_call{line-height: 80px; vertical-align: middle;font-size: 26px;color: #707d83;margin-right: 15px;}



nav{position: absolute;top: 80px;left: 50%;width: 1000px;margin-left: -500px;padding-top: 10px;z-index: 1;}
.nav{font-size: 22px;line-height: 44px;}
.nav a{float: left;clear: both; padding-right: 80px;position: relative;margin-top: 7px;padding-left: 60px;font-weight: bold;color: #fff; background: #f29b11;}
.nav a:after{content: '';position: absolute;left: 100%;top: 0;width: 0;height: 0;border-style: solid;border-color: #f29b11 transparent transparent transparent;border-width: 44px 12px 0 0;}
.nav a.active{background: none;color: #4c5c64;}
.nav a.active:after{display: none;}
.nav_login{position: absolute;right: 0;top: 17px;font-size: 18px;color: #6b787f;line-height: 44px;}
.nav_login a{display: inline-block;vertical-align: middle;}
.nav_login a:hover{color: #f29b11;}
nav.fixed {position: fixed;left: 0;top: 0;width: 100%;padding: 0; margin-left: 0; background: #f29b11; }
nav.fixed .nav a{float: none;display: inline-block;margin: 0;margin-right: 20px;font-size: 18px; padding: 0;font-weight: normal;}
nav.fixed .nav a.active{color: #fff;}
nav.fixed .nav{position: relative;left: 50%;margin-left: -500px;}
nav.fixed .nav_login{right: 50%;margin-right: -500px; top: 0;color: #fff;font-size: 14px;}



.banner{margin-top: -85px;overflow: hidden;}
.banner ul{height: 547px;}
.banner li{position: absolute;top: 0;left: 50%;width: 1920px;height: 500px; margin-left: -960px; vertical-align: top;text-align: center;}

.slide_alt{display: none; position: absolute;left: 0;bottom: 0;width: 100%;height: 32px;line-height: 32px;background: rgba(0,0,0,0.5);}
.slide_crl{ position: absolute;left: 50%;width: 400px;margin-left: -200px; bottom: 15px; text-align: center;text-align: center;}
.slide_crl b{display:inline-block;position: relative; width:12px; height:12px;text-indent:-999em;background: rgba(0,0,0,0.2);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000); border-radius:6px; overflow: hidden;margin:0 5px; cursor:pointer; behavior:url(/css/pie.htc); }
.slide_crl b:hover{background: rgba(0,0,0,0.4);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000); }
.slide_crl b.on{background: #f0450a;}




.inquire{position: relative; width: 1000px;margin: 45px auto 0;border-top: 1px solid #e1e1e1;}
.inquire_subtle{line-height: 65px;font-size: 18px;color: #6f6f6f;}
.inquire_subtle em{display: inline-block;margin: 0 5px; color: #f33232;}
.inquire_subtle img{vertical-align: middle;margin-right: 10px;}
.inquire h2{ color: #4c5c64;font-size: 32px;font-weight: normal; line-height: 50px;margin-top: 15px;}
.inquire_box{background: #fffcf8;border:1px solid #f29b11;border-radius: 5px;padding: 30px;text-align: center;}
.inquire label{display: inline-block;width: 236px;margin-top: 15px; text-align: left; height: 44px;}
.inquire cite{width: 480px;margin: 15px auto 0;text-align: left;}
.inquire cite>em{color: #f29b11;}
.inquire input[type="text"]{height: 18px;line-height: 18px;padding: 7px 5px;background: #fff;border:1px solid #d3d3d3;border-radius: 2px;}
.inquire select{width: 237px; height: 18px;line-height: 18px; padding: 7px 5px;background: #fff;border:1px solid #d3d3d3;border-radius: 2px;}
.inquire input[type="submit"]{width: 100%;}

.inquire_msg{display: inline-block;width: 400px;vertical-align: top;text-align: left;font-size: 18px;color: #b5b3b3;line-height: 40px;}
.inquire_msg h3{font-weight: normal;}
.inquire_msg h3 span{display: inline-block;margin-right: 15px;}
.inquire_msg h3 span b{display: block;text-align: center;background: #f29b11;width: 24px;margin: 0 auto; height: 24px;line-height: 24px;font-size: 16px;font-weight: normal; color: #fff;border-radius: 12px;}
.inquire_msg h4{font-weight: normal;color: #f29b11;text-decoration: underline;margin-top: 10px;}
.inquire_msg h4 img{vertical-align: middle;margin-right: 10px;}


.inquire .fukrm{display: inline-block;vertical-align: top; width: 480px;text-align: left;}

.inquire .fukrm_item{line-height: 42px;}
.inquire .fukrm_submit{width: 100%;}



.guide{position: relative; overflow: hidden; background: #f8f8f8;margin-top: 30px;padding: 30px 0;text-align: center;}
.guide .center{overflow: hidden;}
.guide dl{float: left;position: relative; width: 33.33%;}
.guide dl:before{content: '';position: absolute;left: -1px;top: 0;height: 80px;width: 1px;background: #d3d3d3;}
.guide dt{position: relative;line-height: 40px;font-weight: bold;font-size: 16px;margin-bottom: 10px;}
.guide dt img{vertical-align: middle;margin-right: 10px;}
.guide a:hover{color: #f29b11;}


footer{width: 1000px;margin: 0 auto; line-height: 26px;color: #565656;text-align: right;padding: 20px 0;}


/*表单*/
.fukrm{position: relative;}
.fukrm_item{display: inline-block; position: relative;vertical-align: top;}
.fukrm_item em{position: absolute;left: 5px;top: 0;font-size: 12px;color: #999;font-style: normal;}
.fukrm_item select{opacity: 0;filter:alpha(opacity=0);outline: none;}
.fukrm_item textarea{vertical-align: top;overflow: auto;padding: 8px 5px;}
.fukrm_item input[type="file"]{vertical-align: top;position: relative;margin: 0; }
.fukrm_item input[type="text"]{position: relative;vertical-align: top; height: 18px;line-height: 18px; padding:10px 5px;border:none;border: 1px solid #d6d6d6;outline: none;border-radius: 2px; }
.fukrm_item input[type="password"]{position: relative;vertical-align: top; height: 18px;line-height: 18px; padding:10px 5px;border:none;border: 1px solid #d6d6d6;outline: none;border-radius: 2px; }
.fukrm_item input[type="submit"]{position: relative; font-size: 14px;height: 40px;line-height: 40px;border-radius: 2px; color: #fff;background: #f29b11;text-align: center;border: none; cursor: pointer; behavior:url(pie.htc); }
.fukrm_item input[type="text"]:focus,
.fukrm_item input[type="password"]:focus,
.fukrm_item textarea:focus{border-color: #06B7F9;}



.fukrm_file {display: block; overflow: hidden;}
.fukrm_file input[type="file"]{position: absolute;right: 0;top: 0;outline: none; z-index: 1; font-size: 200px; opacity: 0;filter:alpha(opacity=0);}
.fukrm_file_box{display: block;height: 240px;background: #fff;border:1px solid #d3d3d3;white-space: nowrap;text-align: center;}
.fukrm_file_box:before{content: '';display: inline-block;width: 1px;height: 100%;vertical-align: middle;}
.fukrm_file_box img{ max-width: 100%;max-height: 100%; vertical-align: middle;}

.fukrm_select_tle{position: absolute;left: 0;right: 0;top: 0;bottom: 0;border:1px solid #d6d6d6;cursor: pointer; border-radius: 2px;text-indent: 5px; background: #fff;}
.fukrm_select_tle:after{content: '';position: absolute;right: 0;width: 30px;height: 100%; top: 0;background:url(../images/icon_form_select.png) no-repeat center ;}
.fukrm_select_cnt{display: none; position: absolute;top: 40px;left: 0;right: 0;z-index: 1;margin-top: -2px; max-height: 210px;overflow: auto; line-height: 26px;background: #fff; border:1px solid #d6d6d6;}
.fukrm_select_cnt li{text-indent: 5px;border-top: 1px solid #ddd;cursor: pointer;}

.fukrm_checkbox input{position: absolute; opacity: 0;filter:alpha(opacity=0);}
.fukrm_checkbox{width: 20px;vertical-align: middle;margin-right: 5px; }
.fukrm_checkbox:before{content: '';  display: inline-block;vertical-align: -2px;width: 15px;height: 15px;line-height: 10px;border: 1px solid #f29b11;font-style: normal;border-radius: 3px; text-align: center;font-size: 20px;font-family: sans-serif;color: #F29B11;font-weight: bold;}
.fukrm_checkbox.checked:before{content: '√';}

.fukrm_hidden{display: none;}


/*提示*/
.fukrm_item i{display: none;position: absolute;left: 100%; top: 0;margin-left: 7px; height: 38px;padding:0 30px;white-space:nowrap;font-style: normal;}
.fukrm_item i.form-note-success{display: block;background: url(../images/icon_form_success.png) no-repeat left center;}
.fukrm_item i.form-note-warn{display: block;border:1px solid #eabd2c;  background: url(../images/icon_form_warn.png) no-repeat left center #fffdf2;}
.fukrm_item i.form-note-warn:before{content: '';position: absolute;left: -5px;top: 15px;width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 5px solid #eabd2c; }
.fukrm_item i.form-note-warn:after{content: '';position: absolute;left: -4px;top: 15px;width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 5px solid #fffdf2; }
.fukrm_item i.form-note-error{display: block;border:1px solid #fe0e0e;  background: url(../images/icon_form_error.png) no-repeat left center #ffdbdb;}
.fukrm_item i.form-note-error:before{content: '';position: absolute;left: -5px;top: 15px;width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 5px solid #fe0e0e; }
.fukrm_item i.form-note-error:after{content: '';position: absolute;left: -4px;top: 15px;width: 0;height: 0;border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 5px solid #ffdbdb; }


/*

.fukrm label{display: block;position: relative;line-height: 40px;  margin-bottom: 15px;line-height: 40px;margin-left: 170px;}
.fukrm label>span{position: absolute;width: 150px;text-align: right;top: 0;left: -155px;font-size: 14px;text-indent: 5px;}
.fukrm label>span em{color: #f00;font-style: normal;margin-right: 3px;vertical-align: middle;}

.fukrm cite{display: block;position: relative;line-height: 40px;  margin-bottom: 15px;line-height: 40px;margin-left: 170px;font-style: normal;}
.fukrm cite>span{position: absolute;width: 120px;text-align: right;top: 0;left: -125px;font-size: 14px;outline: none;}
.fukrm cite>span em{color: #f00;font-style: normal;margin-right: 3px;vertical-align: middle;}
.fukrm cite>label{display: inline-block; margin-left: 0;margin-bottom: 0;}
*/
.fukrm p{display: block;width: 320px;font-size: 12px; line-height: 22px;color: #c2c2c2;white-space: nowrap;}
.fukrm .checkstrong_res{display: inline-block; width: 220px;line-height: 16px;height: 16px;white-space: nowrap;text-align: center;color: #fff;}
.fukrm .checkstrong_res b{display: inline-block;background: #eee; border-left: 1px solid #fff;width: 33%;font-weight: normal;font-size: 12px;}
.fukrm .fukrm_save{background: url(/images/icon_form_save.png) no-repeat right center;}
.fukrm .getcode{display: inline-block;width: 100px;background: #f9aa20;color: #fff;text-align: center;font-weight: normal;cursor: pointer;}

.fukrm b.checkcode{display: inline-block;width: 100px;height: 40px; background: #f9aa20;color: #fff;text-align: center;font-weight: normal;}
.fukrm b.checkcode img{width: 100%;height: 100%;}


.fukrm input.checkcode+i{left: 250px;}
.fukrm input.checkagree+i{left: 230px;}



/*上传裁剪*/
.cutpic{position: relative;overflow: hidden;}
.cutpic input[type=text]{display: none;}
.cutpic input[type=file]{position: absolute;right: 0;top: 0;outline: none; z-index: 1; font-size: 200px; opacity: 0;filter:alpha(opacity=0);}
.cutpic img{cursor: pointer;border:1px solid #ddd;}




/***	日期选择	****/
.ui-datepicker{position:fixed;display:none; width:218px;background:#fff;z-index:-1;box-shadow:0 8px 18px rgba(0,0,0,0.28);  }
.ui-datepicker-header{line-height:32px;height:32px; font-size:18px;overflow:hidden; background: #aaa;   }
.ui-datepicker-prev{display:inline-block;position:absolute;left:0;top:0; font-size: 12px; width:50px;cursor:pointer;white-space: nowrap; overflow:hidden;}
.ui-datepicker-next{display:inline-block;position:absolute;right:0;top:0; font-size: 12px;width:50px; cursor:pointer;white-space: nowrap; overflow:hidden;}
.ui-datepicker-next span,.ui-datepicker-prev span{display: block;height: 100%;text-align: center;color: #fff;text-decoration: none;}
a.ui-datepicker-next:hover,a.ui-datepicker-prev:hover{text-decoration: none;}
.ui-datepicker-title{text-align:center;line-height:38px;  font-family:"Arial";color:#fff;font-weight:700;text-shadow:0 -1px 1px rgba(0,0,0,0.4);    }


.ui-datepicker-calendar{width:100%;text-align:center; border-collapse: collapse;overflow:hidden;}
.ui-datepicker-calendar th{color:#afafaf;line-height:26px;font-weight:normal;font-size:11px;    }
.ui-datepicker-calendar td{ padding:0;border:1px solid #e6e6e6;font-size:14px;line-height:30px;font-family:"Arial";font-weight:500;   }
.ui-datepicker-calendar a{display:block;text-decoration:none;color:#515151;}
.ui-datepicker-today{background:#e0eef4; }
.ui-datepicker-current-day{background:#ee2323; }
.ui-datepicker-current-day a{color:#fff;text-shadow:1px 1px rgba(0,0,0,0.4); }
.ui-datepicker-unselectable{color:#bbb; }
.time +button{position:absolute;  width:25px;height:25px;border:none;margin:0 0 0 -25px;cursor:pointer;outline:none; text-indent:-999px;overflow:hidden;background:url(../images/icon_time.png) no-repeat center;    }




/*对话框内容*/
.dialog_bankcard{padding: 30px;}
.checkbankcard{padding: 0 40px; background: #ee2323; display: inline-block; color: #fff;}



/*分页*/
.ajaxpage{overflow:hidden;clear:both; margin-top: 20px;text-align:right;margin: 20px 80px;text-align: center;}
.ajaxpage .total{float:left;display: none; }
.ajaxpage .item{display:inline-block;}
.ajaxpage a{display: inline-block;padding:0 12px;margin-left: -1px; font-size: 12px; border:1px solid #ddd;line-height:30px; height:30px; color:#333;   }
.ajaxpage a:hover{color: #ee2323;}
.ajaxpage a.prev,
.ajaxpage a.next{ margin:0 10px;   }
.ajaxpage a.current{background:#ccc;color:#fff;border-color: #ccc; }

/***	对话框	***/
.dialog{display: none;}
.ui-widget-overlay {position:fixed;top:0;left:0;width: 100%;height: 100%; z-index:999;background:#424141; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);opacity:0.5; }

.ui-dialog{position:fixed;z-index: 1000;outline: none;}
.ui-dialog-titlebar{position: relative;text-align: center;cursor: move; z-index: 9999; height: 40px;line-height: 40px;font-size: 16px;font-weight: bold; color: #fff; margin: 15px 10px 0 9px; background: #ee2323;}
.ui-dialog-titlebar-close{position: absolute;text-align: left; right: -27px;top: -27px;width: 40px;height: 40px;outline: none;text-indent: -999em;overflow: hidden; cursor: pointer; border:none;background: url(/images/dialog_c.png) no-repeat;}
.ui-dialog-content{position: relative;margin: 0 10px 15px 9px; background:#fff;z-index: 99;padding: 1px;background: #fff;}
.ui-dialog-content:after{content:"";display: block;visibility:hidden;height: 0;clear: both;}
.ui-resizable-handle{position: absolute;left: 15px;right: 15px;top: 15px;bottom: 15px;width: 15px; height: 15px;}

 
.ui-resizable-n {top: 0; width: auto;background: url(/images/dialog_h.png) repeat-x;} 
.ui-resizable-e {right: 0;left: auto; height: auto; width: 10px; background: url(/images/dialog_v.png) repeat-y right top;} 
.ui-resizable-s {bottom: 0;top: auto; width: auto;background: url(/images/dialog_h.png) repeat-x left bottom; } 
.ui-resizable-w {left: 0;height: auto;width: 9px; background: url(/images/dialog_v.png) repeat-y; } 
.ui-resizable-se {left: auto;top: auto; right: 0; bottom: 0; background: url(/images/dialog_o.png) no-repeat right bottom; } 
.ui-resizable-sw {left: 0;top: auto; right: auto; bottom: 0; background: url(/images/dialog_o.png) no-repeat left bottom; } 
.ui-resizable-ne {left: auto; top: 0; right: 0;bottom: auto; background: url(/images/dialog_o.png) no-repeat right top; } 
.ui-resizable-nw {left: 0; top: 0; right: auto;bottom: auto; background: url(/images/dialog_o.png) no-repeat ;}



